<app-header></app-header>
<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8" *ngIf="product">
                    <div class="product-content-right">    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img [src]="product.img" alt="">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{product.name}}</h2>
                                    <div class="product-inner-price">
                                        <ins>${{product.price}}</ins>
                                        <br>
                                      <p> Status: {{product.status ? 'In stock': 'Out stock'}}</p>
                                    </div>  
                                    <form action="" class="cart">
                                        <div class="quantity">
                                           Quantity: <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        
                                    </form>  
                                    <br><br>      <br> 
                                     <button class="btn btn-warning"type="submit">Add to cart</button>
                                     &nbsp;
                                    <button class="btn btn-warning"type="submit">Buy now</button>              <br><br><br>
                                    <div>
                                      
                                      <ul>
                                        <li>{{product.desc}}</li>
                                      </ul>
                                    </div>
                                    <br>
                                   
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Description detail</h3>
			<p class="sample-text">
			Ra đời với phong cách trẻ trung, năng động, nhưng không kém phần tinh tế, thời trang và nay điều ấy thật sự được khẳng định thêm lần nữa khi VANS PRIMARY CHECKERBOARD OLD SKOOL BLACK/WHITE ra đời, với sọc caro đậm chất VANS, đôi giày này một lần nữa khẳng định vị trí đặc biệt của mình đối với các tín đồ yêu cái đẹp cùng sự mạnh mẽ vốn có của VANS...

			</p>
		</div>

	</section>
  			<div class="text-center rp-title">
			<b>	<h1 style="color:red;">-- Related products --</h1></b>
			</div>
      
      <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <div class="single-banner">
                        <img src="https://zula.sg/wp-content/uploads/2020/03/converse-sakura-sneakers-1-990x500.jpg" style="width:324px;height:300px;">
                        <div class="inner-text">
                            <h4>Converse</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="https://cdn.trendhunterstatic.com/thumbs/stacked-pack.jpeg"  style="width:324px;height:300px;">
                        <div class="inner-text">
                            <h4 wi>Vans</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="single-banner">
                        <img src="https://cms-cdn.thesolesupplier.co.uk/2019/09/adidas-gazelle-Foot-District-11-1600x1061-1.jpg" style="width:324px;height:300px;">
                        <div class="inner-text">
                            <h4>Adidas</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  <app-footer></app-footer>