       <div class="first">
          <button routerLink="/product-add"  type="button"  class="btn btn-outline-info" data-toggle="button" aria-pressed="false" autocomplete="off">
    Create  Product
  </button>
       </div>
      
       
<div class="example">
 
    <div class="container">

        <div class="row">
          <h2></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Desc</th>
                        <th>Status</th>
                        <th>Img</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.name}}</td>
                        <td>${{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td>{{product.status ? 'In stock': 'Out stock'}}</td>
                        <td><a href="#"><img class="card-img-top" [src]="product.img" alt=""></a></td>
                        <!-- <td><button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button></td> -->
                        <!-- <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Detail</button></td> -->
                        <td><button class="btn btn-warning" routerLink="/product/edit/{{product.id}}">Edit</button></td>
                        <td><button class="btn btn-warning"(click)="removeItem(product.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     
</div>